{% extends "base.html" %}
{% block bio %}
		<div class="header-intro theme-bg-primary text-white py-5">
			<div class="container">
				<div class="profile-teaser media flex-column flex-md-row">
					<img class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded-circle mx-auto"
						src="assets/images/profile.jpg" alt="">
					<div class="media-body text-center text-md-left">
						<div class="lead">Hello, my name is</div>
						<h2 class="mt-0 display-4 font-weight-bold">Justin Huber</h2>
						<div class="bio mb-3">I enjoy creating data-oriented systems and tools.
						</div>
						<!--//bio-->
						<a class="theme-btn-on-bg btn font-weight-bold theme-btn-cta" href="contact.html">Contact Me</a>
					</div>
					<!--//media-body-->
				</div>
				<!--//profile-teaser-->
			</div>
			<!--//container-->
		</div>
		<!--//bio-->
{% endblock %}
{% block contact %}
		<section class="section-cta py-5 bg-primary text-white">
			<div class="container">
				<div class="text-center">
					<img class="profile-small d-inline-block mx-auto rounded-circle mb-2" src="assets/images/profile.jpg"
						alt="">
				</div>
				<h3 class="section-title font-weight-bold text-center mb-2">Want to reach out to me?</h3>
				<div class="section-intro mx-auto text-center mb-3">
					Drop me an email at
					<a class="link-on-bg" href="mailto:justhube@umich.edu" target="_blank">justhube@umich.edu</a>.
				</div>
				<div class="text-center">
					<a class="theme-btn-on-bg btn" href="contact.html">Contact Me</a>
				</div>
			</div>
			<!--//container-->
		</section>
		<!-- contact -->
{% endblock %}