{% extends "base.html" %}
{% block pages %}
							<li class="nav-item active mr-lg-3">
								<a class="nav-link" href="/">About<span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item mr-lg-3">
								<a class="nav-link" href="projects.html">Projects</a>
							</li>
							<li class="nav-item mr-lg-3">
								<a class="nav-link" href="resume.html">Resume</a>
							</li>
							<li class="nav-item mr-lg-3">
								<a class="nav-link" href="contact.html">Contact</a>
							</li>
{% endblock %}
{% block bio %}
		<div class="header-intro theme-bg-primary text-white py-5">
			<div class="container">
				<div class="profile-teaser media flex-column flex-md-row">
					<img class="profile-image mb-3 mb-md-0 mr-md-5 ml-md-0 rounded-circle mx-auto"
						src="assets/images/profile.jpg" alt="">
					<div class="media-body text-center text-md-left">
						<div class="lead">Hello, my name is</div>
						<h2 class="mt-0 display-4 font-weight-bold">Justin Huber</h2>
						<div class="bio mb-3">placeholder
						</div>
						<!--//bio-->
						<a class="theme-btn-on-bg btn font-weight-bold theme-btn-cta" href="contact.html">Contact Me</a>
					</div>
					<!--//media-body-->
				</div>
				<!--//profile-teaser-->
			</div>
			<!--//container-->
		</div>
		<!--//header-intro-->
{% endblock %}
{% block content %}
	<section class="skills-section section py-5">
		<div class="container">
			<h3 class="section-title font-weight-bold text-center mb-3">Background</h3>

			<div class="skills-blocks mx-auto pt-5">
				<div class="row">
					<div class="skills-block col-12 col-lg-7 mb-5 mb-3 mb-lg-3">
						placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder 
						placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder 
						placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder  
					</div>
					
					<div class="skills-block col-12 col-lg-5 mb-5 mb-3 mb-lg-3">
						<div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
							<h4 class="skills-cat text-center mb-3 mt-5"><img class="skills-icon" src="assets/images/university.svg" style="fill: #41A4F5; max-width:8%; max-height:8%;"></i> University of Michigan</h4>
							<div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
								<img class="skills-icon" style="filter: invert(100%); max-width:75%; max-height:75%;" src="assets/images/graduation-cap.svg">
							</div>
							<ul class="skills-list list-unstyled text-secondary">
								<li class="mb-2">
									<img class="skills-icon" src="assets/images/diploma.svg" style="fill: #41A4F5; max-width:7%; max-height:7%;"></object> BSE — Data Science Engineering (2019)</li>
								<li class="mb-2">
									<img class="skills-icon" src="assets/images/diploma.svg" style="fill: #41A4F5; max-width:7%; max-height:7%;"> BSE — Chemical Engineering (2018)</li>
									<li class="mb-2">
										<img class="skills-icon" src="assets/images/badge.svg" style="fill: #41A4F5; max-width:7%; max-height:7%;"></object> GPA — 3.50/4.00</li>
							</ul>
							<h4 class="skills-cat text-center mb-3 mt-5">
								<img class="skills-icon" src="assets/images/university.svg" style="fill: #41A4F5; max-width:8%; max-height:8%;"> RWTH Aachen University</h4>
								
							
							<ul class="skills-list list-unstyled text-secondary">
								<li class="mb-2">
									<img class="skills-icon" src="assets/images/research.svg" style="fill: #41A4F5; max-width:7%; max-height:7%;"> Study & Research Abroad (2016)</li>
							</ul>
						</div>
						<!--//skills-block-inner-->
					</div>
					<!--//skills-block-->
				</div>
				<!--//row-->
			
			<div class="skills-blocks mx-auto pt-5">
				<div class="row">
					<div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
						<div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
							<h4 class="skills-cat text-center mb-3 mt-5">Hobbies</h4>
							<div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
								<img class="skills-icon" style="filter: invert(100%); max-width:80%; max-height:80%;" src="assets/images/console.svg">
							</div>
							<ul class="skills-list list-unstyled text-secondary">
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Gaming</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Traveling</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Learning Languages</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Drawing</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Backpacking</li>
							</ul>
						</div>
						<!--//skills-block-inner-->
					</div>
					<!--//skills-block-->
					
					<div class="skills-block col-12 col-lg-6 mb-5 mb-3 mb-lg-0">
						placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder 
						placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder 
						placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder 
					</div>
					<!--//skills-block-->
				</div>
				<!--//row-->
			</div>

			<div class="skills-blocks mx-auto pt-5">
				<div class="row">
					<div class="skills-block col-12 col-lg-5 mb-5 mb-3 mb-lg-0">
						placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder 
						placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder 
						placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder placeholder 
					</div>
					<!--//skills-block-->
					
					<div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0">
						<div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
							<h4 class="skills-cat text-center mb-3 mt-5">Relevant Coursework</h4>
							<div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
								<img class="skills-icon" style="filter: invert(100%); max-width:70%; max-height:70%;" src="assets/images/notebook.svg">
							</div>
							<ul class="skills-list list-unstyled text-secondary">
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Machine Learning</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Operating Systems</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Web Systems</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Computer Vision</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Artificial Intelligence</li>
							</ul>
						</div>
						<!--//skills-block-inner-->
					</div>
					<!--//skills-block-->

					<div class="skills-block col-12 col-lg-3 mb-5 mb-3 mb-lg-0">
						<div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
							<h4 class="skills-cat text-center mb-3 mt-5">Languages</h4>
							<div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
								<img class="skills-icon" style="filter: invert(100%); max-width:65%; max-height:65%;" src="assets/images/chat.svg">
							</div>
							<ul class="skills-list list-unstyled text-secondary">
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>German — B2</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Spanish — B2</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Japanese — N5</li>
							</ul>
						</div>
						<!--//skills-block-inner-->
					</div>
					<!--//skills-block-->
				</div>
				<!--//row-->
			</div>
		</div>
		<!--//container-->
	</section>
	<!--//background-section-->

	<section class="skills-section section py-5">
		<div class="container">
			<h3 class="section-title font-weight-bold text-center mb-5">Technical Skills Overview</h3>
			<div class="skills-blocks mx-auto pt-5">
				<div class="row">
					<div class="skills-block col-12 col-lg-3 mb-5 mb-3 mb-lg-0">
						<div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
							<h4 class="skills-cat text-center mb-3 mt-5">Frontend</h4>
							<div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
								<img class="skills-icon" src="assets/images/frontend-icon.svg">
							</div>
							<ul class="skills-list list-unstyled text-secondary">
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Javascript</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>HTML/CSS</li>
							</ul>
						</div>
						<!--//skills-block-inner-->
					</div>
					<!--//skills-block-->

					<div class="skills-block col-12 col-lg-3 mb-5 mb-3 mb-lg-0">
						<div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
							<h4 class="skills-cat text-center mb-3 mt-5">Backend</h4>
							<div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
								<img class="skills-icon" src="assets/images/backend-icon.svg">
							</div>
							<ul class="skills-list list-unstyled text-secondary">
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Python (Numpy, Scipy, Cython)</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>C/C++</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Java</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>MySQL/Sqlite3</li>
							</ul>
						</div>
						<!--//skills-block-inner-->
					</div>
					<!--//skills-block-->

					<div class="skills-block col-12 col-lg-3 mb-5 mb-3 mb-lg-0">
						<div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
							<h4 class="skills-cat text-center mb-3 mt-5">ML, CV, AI</h4>
							<div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
								<img class="skills-icon" style="filter: invert(100%); max-width:70%; max-height:70%;" src="assets/images/ai-icon.svg">
							</div>
							<ul class="skills-list list-unstyled text-secondary">
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>SciKit Learn</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Pytorch</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>OpenCV</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Deep Learning</li>
							</ul>
						</div>
						<!--//skills-block-inner-->
					</div>
					<!--//skills-block-->

					<div class="skills-block col-12 col-lg-3">
						<div class="skills-block-inner bg-white shadow-sm py-4 px-5 position-relative">
							<h4 class="skills-cat text-center mb-3 mt-5">Others</h4>
							<div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
								<img class="skills-icon" src="assets/images/other-skills-icon.svg">
							</div>
							<ul class="skills-list list-unstyled text-secondary">
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Open Source</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Git</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Make</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Linux (Ubuntu)</li>
								<li class="mb-2">
									<i class="fas fa-check mr-2 text-primary"></i>Windows</li>
							</ul>
						</div>
						<!--//skills-block-inner-->
					</div>
					<!--//skills-block-->
				</div>
				<!--//row-->
			</div>
		</div>
		<!--//container-->
	</section>
	<!--//skills-section-->

	<section class="section-featured-projects py-5">
		<div class="container">
			<h3 class="section-title font-weight-bold text-center mb-5">Featured Projects</h3>

			<div class="project-cards row mb-5">

				<!-- Open Source Contributions -->
				<div class="col-12 col-lg-4">
					<div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="assets/images/placeholder.png"
								alt="placeholder">
							<div class="card-img-overlay overlay-logo text-center">
								<div class="project-logo">
									<img class="img-fluid w-50" src="assets/images/placeholder.png">
								</div>
							</div>
							<a class="card-img-overlay overlay-content text-left p-lg-4"
								href="/404.shtml"
								target="_blank">
								<h5 class="card-title font-weight-bold">placeholder</h5>
								<p class="card-text">placeholder
								</p>
								<h6 class="card-footer" style="padding: 0px;">Read More...</h6>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0">
								<a href="/404.shtml"
									target="_blank">Open Source Contributions</a>
							</h4>
						</div>

						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
								<li class="list-inline-item">
									<span class="badge badge-secondary badge-pill">placeholder</span>
								</li>
							</ul>
						</div>
					</div>
					<!--//card-->
				</div>

				<!-- Data Science Project Lead -->
				<div class="col-12 col-lg-4">
					<div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="assets/images/placeholder.png"
								alt="placeholder">
							<div class="card-img-overlay overlay-logo text-center">
								<div class="project-logo">
									<img class="img-fluid w-50" src="assets/images/placeholder.png">
								</div>
							</div>
							<a class="card-img-overlay overlay-content text-left p-lg-4"
								href="/404.shtml"
								target="_blank">
								<h5 class="card-title font-weight-bold">placeholder</h5>
								<p class="card-text">placeholder
								</p>
								<h6 class="card-footer" style="padding: 0px;">Read More...</h6>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0">
								<a href="/404.shtml"
									target="_blank">Data Science Project Lead</a>
							</h4>
						</div>

						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
								<li class="list-inline-item">
									<span class="badge badge-secondary badge-pill">placeholder</span>
								</li>
							</ul>
						</div>
					</div>
					<!--//card-->
				</div>

				<!-- Software Engineer Project Lead -->
				<div class="col-12 col-lg-4">
					<div class="card rounded-0 border-0 shadow-sm mb-5 mb-lg-0">
						<div class="card-img-container position-relative">
							<img class="card-img-top rounded-0" src="assets/images/placeholder.png"
								alt="placeholder">
							<div class="card-img-overlay overlay-logo text-center">
								<div class="project-logo">
									<img class="img-fluid w-50" src="assets/images/placeholder.png">
								</div>
							</div>
							<a class="card-img-overlay overlay-content text-left p-lg-4" href="/404.shtml"
								target="_blank">
								<h5 class="card-title font-weight-bold">placeholder</h5>
								<p class="card-text">placeholder
								</p>
								<h6 class="card-footer" style="padding: 0px;">Read More...</h6>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0">
								<a href="/404.shtml" target="_blank">Software Engineer Project Lead</a>
							</h4>
						</div>

						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
								<li class="list-inline-item">
									<span class="badge badge-secondary badge-pill">placeholder</span>
								</li>
							</ul>
						</div>
					</div>
					<!--//card-->
				</div>

			</div>
			<!--//row-->
			<div class="text-center">
				<a class="btn btn-primary" href="projects.html">View all projects</a>
			</div>
		</div>
		<!--///container-->

	</section>
	<!--//featured-projects-->
	
	<section class="section-cta py-5 bg-primary text-white">
		<div class="container">
			<div class="text-center">
				<img class="profile-small d-inline-block mx-auto rounded-circle mb-2" src="assets/images/profile.jpg"
					alt="">
			</div>
			<h3 class="section-title font-weight-bold text-center mb-2">Want to reach out to me?</h3>
			<div class="section-intro mx-auto text-center mb-3">
				Drop me an email at
				<a class="link-on-bg" href="mailto:justhube@umich.edu" target="_blank">justhube@umich.edu</a>.
			</div>
			<div class="text-center">
				<a class="theme-btn-on-bg btn" href="contact.html">Contact Me</a>
			</div>
		</div>
		<!--//container-->
	</section>
{% endblock %}