{% extends "biobase.html" %}
{% block pages %}
							<li class="nav-item mr-lg-3">
								<a class="nav-link" href="/">About</a>
							</li>
							<li class="nav-item active mr-lg-3">
								<a class="nav-link" href="projects.html">Projects<span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item mr-lg-3">
								<a class="nav-link" href="resume.html">Resume</a>
							</li>
							<li class="nav-item mr-lg-3">
								<a class="nav-link" href="contact.html">Contact</a>
							</li>
{% endblock %}
{% block content %}
	<section class="section pt-5">
		<div class="container">
			<div class="text-center">
				<ul id="filters" class="filters mb-5 mx-auto pl-0">
					<li class="type active" data-filter="*">all</li>
					{% for key, value in tags.items() %}
					<li class="type" data-filter=".{{key}}">{{value}}</li>
					{% endfor %}
				</ul>
				<!--//filters-->
			</div>

			<div class="project-cards row mb-5 isotope">
				{% for item in projects %}
				<!-- placeholder -->
				<div class="isotope-item col-12 col-lg-4 {% for tag in item.tags %}{{tag}} {% endfor %}">
					<div class="card rounded-0 border-0 shadow-sm mb-5">
						<div class="card-img-container position-relative">
																					<!--"{{item.id}}.png"-->
							<img class="card-img-top rounded-0" src="assets/images/projects/placeholder.png"
								alt="">
							<div class="card-img-overlay overlay-logo text-center">
								<div class="project-logo">
									<img class="img-fluid w-50" src="assets/images/projects/placeholder.png">
								</div>
							</div>
							<a class="card-img-overlay overlay-content text-left p-lg-4"
								href="/404.shtml" target="_blank">
								<h5 class="card-title font-weight-bold">{{item.title}}</h5>
								<p class="card-text">{{item.content}}</p>
								<h6 class="card-footer" style="padding: 0px;">Read More...</h6>
							</a>
						</div>
						<div class="card-body pb-0">
							<h4 class="card-title text-truncate text-center mb-0">
								<a href="{{item.link}}"
									target="_blank">{{item.title}}</a>
							</h4>
						</div>
						<div class="card-footer border-0 text-center bg-white pb-4">
							<ul class="list-inline mb-0 mx-auto">
								{% for tag in item.tags %}
								<li class="list-inline-item">
									<span class="badge badge-secondary badge-pill">{{tags[tag]}}</span>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
					<!--//card-->
				</div>
				<!--//placeholder-item-->
				{% endfor %}
			</div>
			<!--//row-->
		</div>
		<!--//container-->
	</section>
	<!--//section-->
{% endblock %}